@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    37 Applefield Dr.<br />
    Scarborough, ON M1P 3X9<br /><br />
    <abbr title="Phone">Cellphone:</abbr>
    (647) 918-1668<br />
    <abbr title="Email">Email:</abbr>
    roberto_ito@hotmail.com
</address>

<address>
    <strong>Personal Webpage:</strong>   <a href="https://robertoito.github.io/RHIWebsite/">https://robertoito.github.io/RHIWebsite/</a><br />
    @*<strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>*@
</address>